body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://i.pinimg.com/originals/33/1d/34/331d344c012c1ff4307858f8c9f38706.gif");
  background-color: #000000;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

input {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 50px;
  background: #ffffff;
}

.resultado {
  color: white;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(#ff499e, #a480cf);
}
